<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Perseo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
 

<section class="header">
    <div class="flex">
       <a routerLink="/inicio"  class="logo">Hotel Perseo</a>
       <div class="icons">
          <a *ngIf="isUndefined" routerLink="/login"><i class="uil uil-user" style="color: var(--green);"></i></a>
          <a *ngIf="isUndefined" routerLink="/registro"> <i class="fa-solid fa-user-plus" style="color: var(--green);"></i></a>
          <a *ngIf="isAdmin || isCliente || isRecepcionista">
            <i (click)="CerrarSesion()" class="fa-solid fa-right-from-bracket" style="color: var(--green);"></i>
          </a>
          

       </div>
    </div>

    <nav class="navbar">
      <a routerLink="/inicio">Inicio</a>
      <a *ngIf="isAdmin" routerLink="">Usuarios</a>
      <a *ngIf="isAdmin || isCliente || isRecepcionista || isUndefined" routerLink="/lista-habitaciones">Habitaciones</a>
      <a *ngIf="isCliente" [routerLink]="isAdmin ? '/lista-habitaciones' : '/inicio'">Habitaciones</a>
      <a *ngIf="isAdmin || isCliente || isRecepcionista || isUndefined" routerLink="">Reservaciones</a>
      <a *ngIf="isAdmin || isCliente || isRecepcionista || isUndefined" routerLink="">Servicios</a>
      <a *ngIf="isAdmin || isCliente || isRecepcionista" routerLink="">Factura</a>
      <a *ngIf="isAdmin" routerLink="">Inventario</a>
   </nav>
   
</section>