<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Perseo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<section class="footer">
    <div class="box-container">
       <div class="box">
          <a routerLink=""><i class="fas fa-phone"></i> +57-01800-0000</a>
          <a routerLink=""><i class="fas fa-phone"></i> +57-01800-0001</a>
          <a routerLink=""><i class="fas fa-envelope"></i> hotelPerseogmail.com</a>
          <a routerLink=""><i class="fas fa-map-marker-alt"></i> Soacha, Cundinamarca - Colombia</a>
       </div>

       <div class="box">
          <a routerLink="" >Servicios</a>
          <a routerLink="" >Reservaciones</a>
          <a routerLink="" >Contáctanos</a>
          <a routerLink="" >Acerca de Nosotros</a>
       </div>
    </div>

    <div class="credit">
      <p> &copy; Copyright  2023 Hotel Perseo | Todos los derechos reservados </p>
    </div>
</section>