<div>
    <app-header></app-header>
</div>

<div class="signup">
    <span class="title">Actualizar huésped</span>

    <form [formGroup]="formulario" (ngSubmit)="actualizarHuesped()">
        <div class="input-field">
            <input formControlName="NOMBRE" type="text" name="Fnombre" placeholder="Ingrese su nombre" required />
            <i class="uil uil-user"></i>
        </div>

        <div class="input-field">
            <input formControlName="APELLIDO" type="text" name="Fapellido" placeholder="Ingrese su apellido" required />
            <i class="uil uil-user"></i>
        </div>

        <div class="input-field">
            <input formControlName="NRODOCUMENTO" type="text" name="Fdocumento" placeholder="Ingrese su documento" required />
            <i class="fa-solid fa-id-card"></i>
        </div>

        <div class="input-field">
            <input formControlName="EMAIL" type="text" name="Femail" placeholder="Ingresa tu email" required />
            <i class="uil uil-envelope icon"></i>
        </div>

        <div class="input-field">
            <input formControlName="TELEFONO" type="text" name="Ftelefono" placeholder="Ingresa tu telefono" required />
            <i class="fa-sharp fa-solid fa-phone"></i>
        </div>

        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Registrate" />
            </div>
            <div class="input-field button">
                <a routerLink="/lista-huespedes" >Volver</a>
            </div>
        </div>
    </form>
</div>
