<div>
  <app-header></app-header>
</div>

<div class="signup">
  <span class="title">Registro</span>

  <form (ngSubmit)="crearNuevoUsuario()">

    <select class="input-select" [(ngModel)]="nuevoUsuario.TIPO_PERSONA_IDTIPOPERSONA" name="TIPO_PERSONA_IDTIPOPERSONA" required>
      <option selected="selected" disabled="disabled">
        Seleccione tipo de Usuario
      </option>
      <option *ngFor="let tipoUser of tiposUsuario" [value]="tipoUser.id">
        {{ tipoUser.nombre }}
      </option>
    </select>

    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.NOMBRE" name="NOMBRE" placeholder="Ingrese su nombre" required />
      <i class="uil uil-user"></i>
    </div>

    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.APELLIDO" name="APELLIDO" placeholder="Ingrese su apellido"
        required />
      <i class="uil uil-user"></i>
    </div>

    <select class="input-select" [(ngModel)]="nuevoUsuario.TIPO_DOCUMENTO_IDTIPODOCUMENTO" name="TIPO_DOCUMENTO_IDTIPODOCUMENTO" required>
      <option selected="selected" disabled="disabled">
        Seleccione tipo de documento
      </option>
      <option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.id">
        {{ tipoDocumento.nombre }}
      </option>
    </select>

    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.NRODOCUMENTO" name="NRODOCUMENTO" placeholder="Ingrese su documento"
        required />
      <i class="fa-solid fa-id-card"></i>
    </div>

    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.email" name="email" placeholder="Ingrese su email" required />
      <i class="uil uil-envelope icon"></i>
    </div>

    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.TELEFONO" name="TELEFONO" placeholder="Ingrese su telefono"
        required />
      <i class="fa-sharp fa-solid fa-phone"></i>
    </div>

    <div class="input-field">
      <input type="password" [(ngModel)]="nuevoUsuario.password" name="password" class="password"
        placeholder="Ingrese su contraseña" required />
      <i class="uil uil-lock icon"></i>
      <i class="uil uil-eye-slash showHidePw"></i>
    </div>

    <div class="botones">
      <div class="input-field button">
        <input type="submit" value="Registrate" />
      </div>
    </div>
  </form>
</div>

<div>
      <app-footer></app-footer>
</div>
    