<div>
  <app-home></app-home>
</div>

<div class="signup">
  <span class="title">Registro Usuario</span>

  <form (ngSubmit)="crearNuevoUsuario()">
    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.nombre" name="nombre" placeholder="Ingrese su nombre" required />
      <i class="uil uil-user"></i>
    </div>

    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.apellido" name="apellido" placeholder="Ingrese su apellido"
        required />
      <i class="uil uil-user"></i>
    </div>

    <select class="input-select" [(ngModel)]="nuevoUsuario.id_tipoDocumento" name="id_tipoDocumento" required>
      <option selected="selected" disabled="disabled">
        Seleccione tipo de documento
      </option>
      <option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.id">
        {{ tipoDocumento.nombre }}
      </option>
    </select>

    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.numero_documento" name="documento" placeholder="Ingrese su documento"
        required />
      <i class="fa-solid fa-id-card"></i>
    </div>

    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.email" name="email" placeholder="Ingrese su email" required />
      <i class="uil uil-envelope icon"></i>
    </div>

    <div class="input-field">
      <input type="text" [(ngModel)]="nuevoUsuario.telefono" name="telefono" placeholder="Ingrese su telefono"
        required />
      <i class="fa-sharp fa-solid fa-phone"></i>
    </div>

    <select class="input-select" [(ngModel)]="nuevoUsuario.id_tipoPersona" name="id_tipoPersona" required>
      <option selected="selected" disabled="disabled">
        Seleccione tipo de usuario
      </option>
      <option *ngFor="let tipoUsuario of tiposUsuario" [value]="tipoUsuario.id">
        {{ tipoUsuario.nombre }}
      </option>
    </select>

    <div class="input-field">
      <input type="password" [(ngModel)]="nuevoUsuario.password" name="password" class="password"
        placeholder="Ingrese su contraseña" required />
      <i class="uil uil-lock icon"></i>
      <i class="uil uil-eye-slash showHidePw"></i>
    </div>

    <div class="botones">
      <div class="input-field button">
        <input type="submit" value="Registrate" />
      </div>
      <div class="input-field button">
        <a routerLink="/inicio" >Volver</a>
      </div>
    </div>
  </form>
</div>