<div>
    <app-header></app-header>
</div>

<div class="signup">
    <span class="title">Crear Habitación</span>

    <form [formGroup]="formulario" (ngSubmit)="crearNuevaHabitacion()">
        <div class="input-field">
            <input [formControl]="$any(formulario).controls['NROHABITACION']" type="text" name="num_habitacion"
                placeholder="Ingrese el número de habitación" required maxlength="4" (keydown)="validateInput($event)"/>
        </div>

        <div *ngIf="formulario.get('NROHABITACION')?.hasError('required') && formulario.get('NROHABITACION')?.touched"
            class="error-message">
            El campo es obligatorio.
        </div>

        <select class="input-select" [formControl]="$any(formulario).controls['ESTADO_HABITACION_IDESTADOHABITACION']" name="Status Room" required>
            <option selected="selected" disabled="disabled">
              Seleccione Estado Habitación
            </option>
            <option *ngFor="let tipoEstado of Statusrooms" [value]="tipoEstado.IDESTADOHABITACION">
              {{ tipoEstado.TIPO_ESTADO}}
            </option>
          </select>

          <div *ngIf="formulario.get('ESTADO_HABITACION_IDESTADOHABITACION')?.hasError('required') && formulario.get('ESTADO_HABITACION_IDESTADOHABITACION')?.touched"
              class="error-message">
              El campo es obligatorio.
          </div>

          <select class="input-select" [formControl]="$any(formulario).controls['TIPO_HABITACION_IDTIPOHABITACION']" name="Type Room" required>
            <option selected="selected" disabled="disabled">
              Seleccione Tipo Habitación
            </option>
            <option *ngFor="let tipohabitacion of Typerooms" [value]="tipohabitacion.IDTIPOHABITACION">
              {{ tipohabitacion.TIPO_HABITACION}}
            </option>
          </select>

          <div *ngIf="formulario.get('TIPO_HABITACION_IDTIPOHABITACION')?.hasError('required') && formulario.get('TIPO_HABITACION_IDTIPOHABITACION')?.touched"
              class="error-message">
              El campo es obligatorio.
          </div>

        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Registrar" />
            </div>
            <div class="input-field button">
                <a routerLink="/lista-habitaciones" >Volver</a>
            </div>
        </div>
    </form>
</div>

<div>
    <app-footer></app-footer>
</div>
