<div>
    <app-home></app-home>
</div>

<div class="contenido">

    <h1>Bienvenido al Hotel Perseo</h1>

    <p>Tu destino de excelencia y confort en el corazón de la encantadora Soacha. Nos enorgullecemos de ofrecer una
        experiencia única que combina lujo, hospitalidad excepcional y una ubicación privilegiada en esta vibrante
        ciudad.
    </p>

    <p>Nuestro equipo dedicado está aquí para asegurarse de que tu estancia sea inolvidable. Con un servicio
        personalizado y
        una atención meticulosa a tus necesidades, nos esforzamos por superar tus expectativas en cada momento de tu
        visita.
    </p>

    <p>Además de nuestras comodidades de primer nivel y una cocina exquisita que deleitará tu paladar, el Hotel Perseo
        se
        encuentra estratégicamente ubicado cerca de los principales puntos de interés de Soacha, permitiéndote explorar
        y
        sumergirte en la riqueza cultural de esta ciudad dinámica.</p>

    <p>En el Hotel Perseo, nuestro compromiso es crear experiencias memorables para cada uno de nuestros huéspedes. Te
        invitamos a descubrir el lujo auténtico y la hospitalidad excepcional que nos distingue.</p>

    <p><span>¡Esperamos hacerte sentir como en casa en el Hotel Perseo de Soacha!</span></p>

    <div class="imagen">
        <img src="../../assets/LogoPerseo.png" class="logo">
    </div>

</div>