<div>
    <app-header></app-header>
</div>

<div class="tabla_content" id="table_invoice_details">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Detalles Factura</th>
                <th scope="col">Factura PDF</th>
                <th scope="col">Método Pago </th>
                <th scope="col">Codigo </th>
                <th scope="col">Fecha Expedición</th>
                <th scope="col">Monto Total</th>
                <th scope="col">Documento</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let df of facturas">
                <td class="table-light" scope="row">
                    <div class="icons">
                     <a href="lista-detalles-facturas/{{df.IDFACTURA}}"> <i class="fa-solid fa-newspaper"></i> </a>
                   </div>
                </td>
                <td class="table-light" scope="row">
                    <div class="icons">
                     <a href="facturaPdf/{{df.IDFACTURA}}"><i class="fa-regular fa-file-pdf"></i></a>
                   </div>
                </td>
                <td class="table-light" scope="row">
                    <div class="icons">
                     <a href="lista-metodos-facturas/{{df.IDFACTURA}}"><i class="fa-solid fa-credit-card"></i> </a>
                   </div>
                </td>
                <td class="table-light">{{ df.IDFACTURA  }}</td>
                <td class="table-light">{{ df.FECHA_FACTURA  }}</td>
                <td class="table-light">{{ df.MONTO_TOTAL_RESERVA  }}</td>
                <td class="table-light">{{ df.PERSONA_NRODOCUMENTO  }}</td>
                <td class="table-light">{{ df.Nombre  }}</td>
                <td class="table-light">{{ df.Apellido  }}</td>
                <td class="btns">
                    <button (click)="redireccionarActualizar(df.IDFACTURA)" type="button"
                        class="btn btn-warning">
                        Actualizar
                    </button>
                    <button (click)="eliminarFactura(df.IDFACTURA)" type="button"
                        class="btn btn-danger">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btns">
        <a routerLink="/insertar-factura">Crear Factura</a>
    </div>
</div>