<div>
    <app-home></app-home>
</div>

<div class="tabla_content" id="table_invoice_details">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID método de pago</th>
                <th scope="col">ID detelle de factura</th>
                <th scope="col">Documento usuario</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let df of facturas">
                <th class="table-light" scope="row">{{ df.id }}</th>
                <td class="table-light">{{ df.id_metodoPago }}</td>
                <td class="table-light">{{ df.id_detalleFactura }}</td>
                <td class="table-light">{{ df.numero_documento }}</td>
                <td class="btns">
                    <button (click)="redireccionarActualizar(df.id)" type="button"
                        class="btn btn-warning">
                        Actualizar
                    </button>
                    <button (click)="eliminarFactura(df.id)" type="button"
                        class="btn btn-danger">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>