<div>
    <app-header></app-header>
  </div>
  
  <div class="tabla_content" id="table_room">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Estado Habitación</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
  
      <tbody>
    <tr *ngFor="let status of Statusrooms">
      
      <td class="table-light">{{status.TIPO_ESTADO}}</td>
      <td class="table-light">{{status.DESCRIPCION}}</td>
 
      <td class="btns">
        <button (click)="redireccionarActualizar(status.IDESTADOHABITACION)" type="button" class="btn btn-warning">Actualizar</button>
        <button (click)="eliminarEstadoHabitacion(status.IDESTADOHABITACION)" type="button" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
  
    </table>
    <a routerLink="/insertar-estado-habitacion">Adicionar Estado Habitación</a>
    
  </div>
  