<div>
  <app-home></app-home>
</div>

<div class="signup">
    <span class="title">Crear Producto</span>

    <form (ngSubmit)="crearNuevoInventario()">
      <div class="input-field">
        <input [(ngModel)]="nuevoInventario.nombre_producto" type="text" name="Fproducto" placeholder="Ingrese producto" required />
      </div>

      <div class="input-field">
          <input [(ngModel)]="nuevoInventario.descripcion" type="text" name="Fdescripcion" placeholder="Ingrese descripcion producto" required />
        </div>

      <select [(ngModel)]="nuevoInventario.id_estado" class="input-select"  name="Fidestado"  >
          <option selected="selected" disabled="disabled" > Seleccione Una Opción </option>
          <option *ngFor="let estado of estados" value="{{estado.id}}"> {{estado.nombre}} </option>
      </select>

      <select [(ngModel)]="nuevoInventario.id_categoria" class="input-select"  name="Fidtcategoria"  >
          <option selected="selected" disabled="disabled" > Seleccione Una Opción </option>
          <option *ngFor="let categoria of categorias" value="{{categoria.id}}"> {{categoria.nombre}} </option>
      </select>

      <div class="botones">
        <div class="input-field button">
          <input type="submit" value="Registrar" />
        </div>
        <div class="input-field button">
          <a routerLink="/inicio" >Volver</a>
        </div>
      </div>
    </form>
  </div>