<div>
    <app-header></app-header>
</div>

<div class="signup">
    <span class="title">Crear Inventario</span>

    <form [formGroup]="formulario" (ngSubmit)="crearNuevoInventario()">
        <div class="input-field">
            <input type="text" [formControl]="$any(formulario).controls['NOMBRE_PRODUCTO']" name="categoria"
                placeholder="Ingrese Producto" required maxlength="30" />
        </div>

        <div class="input-field">
            <input type="text" [formControl]="$any(formulario).controls['DESCRIPCION_PRODUCTO']" name="descripcion"
                placeholder="Ingrese Descripción" required maxlength="30" />
        </div>

         <select class="input-select" [formControl]="$any(formulario).controls['CATEGORIA_IDCATEGORIA']"  name="categoria" required>
            <option selected="selected" disabled="disabled">
              Seleccione Categoria
            </option>
            <option *ngFor="let categoria of categorias" [value]="categoria.IDCATEGORIA ">
              {{ categoria.NOMBRE_CATEGORIA}}
            </option>
          </select>

        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Crear" />
            </div>
            <div class="input-field button">
                <a routerLink="/lista-inventario" >Volver</a>
            </div>
        </div>



    </form>
</div>

<div>
    <app-footer></app-footer>
</div>
