<div class="all" id="contentToConvert">
    <header>
        <div class="info">
            <h1>Factura</h1>
            <p>Factura N° <span>{{ facturaId }}</span></p>
            <p>Fecha <span>{{ factura.FECHA_FACTURA }}</span></p>
        </div>
        <div class="logo">
            <img src="../../assets/LogoPerseo.png" alt="">
        </div>
    </header>

    <div class="contenido">
        <div class="usuario">
            <span>INFORMACIÓN DEL CLIENTE</span>
            <div class="info-cliente">
                <span>Nombre: </span>
                <p>{{ usuario.NOMBRE }} {{ usuario.APELLIDO }}</p>
            </div>
            <div class="info-cliente">
                <span>Celular: </span>
                <p>{{ usuario.TELEFONO }}</p>
            </div>
            <div class="info-cliente">
                <span>email: </span>
                <p>{{ usuario.email }}</p>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 25%;">Habitación</th>
                    <th scope="col" style="width: 25%;">Cantidad de días</th>
                    <th scope="col" style="width: 25%;">Precio por noche</th>
                    <th scope="col" style="width: 25%;">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rxr of roomxreservation">
                    <td class="table-light">Habitación {{ rxr.HABITACION_NROHABITACION }} / {{ rxr.tipo }} </td>
                    <td class="table-light">{{ duracionEstadia }}</td>
                    <td class="table-light">$ {{ rxr.precio }}</td>
                    <td class="table-light">$ {{ rxr.precioTotalHabitacion }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 25%;">Servicio</th>
                    <th scope="col" style="width: 25%;">Cantidad</th>
                    <th scope="col" style="width: 25%;">Precio</th>
                    <th scope="col" style="width: 25%;">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let df of detallesFacturas">
                    <td class="table-light">{{ df.producto }}</td>
                    <td class="table-light">{{ df.CANTIDAD }}</td>
                    <td class="table-light">$ {{ df.precio }}</td>
                    <td class="table-light">$ {{ df.precioTotalProducto }}</td>
                </tr>
                <tr class="table borderless">
                    <td class="table-light"></td>
                    <td class="table-light"></td>
                    <td class="table-light"><span>Subtotal habitaciones</span></td>
                    <td class="table-light"><span>$ {{ totalReserva }}</span></td>
                </tr>                
                <tr class="table borderless">
                    <td class="table-light"></td>
                    <td class="table-light"></td>
                    <td class="table-light"><span>Subtotal servicios</span></td>
                    <td class="table-light"><span>$ {{ totalServicios }}</span></td>
                </tr>
                <tr class="table borderless">
                    <td class="table-light"></td>
                    <td class="table-light"></td>
                    <td class="table-light"><span>Total</span></td>
                    <td class="table-light"><span>${{ totalGeneral }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <footer>
        <div class="ty">
            <span>¡Gracias por su estadía!</span>
        </div>
        <div class="infoPago-Contacto">
            <div class="infoPago">
                <span>Información de pago</span>
                <p>Método de pago</p>
                <p>Fecha de pago</p>
            </div>
            <div class="contacto">
                <span>Contacto</span>
                <p>+57-01800-0000</p>
                <p>hotelPerseogmail.com</p>
                <p>Soacha, Cundinamarca - Colombia</p>
            </div>
        </div>
    </footer>
</div>


<button (click)="covertToPdf()">Descargar</button>