<div class="signup">
    <span class="title">Actualizar Reserva</span>

    <form [formGroup]="formulario" (ngSubmit)="actualizarReserva()">
        <input formControlName="FECHA_RESERVACION" name="fechaReservacion" type="date" placeholder="Fecha de entrada" style="display: none;">

        <p>Fecha de entrada</p>
        <div class="input-field">
            <input formControlName="FECHA_ENTRADA" type="date" name="Ffecha_entrada" placeholder="Fecha de entrada" required [min]="fechaMinimaIn">
            <i class="uil uil-calendar"></i>
        </div>

        <p>Fecha de Salida</p>
        <div class="input-field">
            <input formControlName="FECHA_SALIDA" type="date" name="Ffecha_entrada" placeholder="Fecha de salida" required [min]="fechaMinimaOut">
            <i class="uil uil-calendar"></i>
        </div>

        <div class="input-field">
            <input formControlName="CANTIDAD_ADULTOS" type="number" name="Fcantidad_adultos" placeholder="Cantidad de adultos" required>
            <i class="uil uil-user"></i>
        </div>

        <div class="input-field">
            <input formControlName="CANTIDAD_NINOS" type="number" name="Fcantidad_niños" placeholder="Cantidad de niños" required>
            <i class="uil uil-child"></i>
        </div>
      
        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Reservar">
            </div>

            <div class="input-field button">
                <a routerLink="/lista-reservas">Volver</a>
            </div>
        </div>
    </form>
</div>