<div class="signup">
    <span class="title">Actualizar Reserva</span>

    <form (ngSubmit)="actualizarReserva()">
        <div class="input-field">
            <input [(ngModel)]="reserva.fecha_entrada" type="datetime-local" name="Ffecha_entrada"
                placeholder="Fecha de entrada" required>
            <i class="uil uil-calendar"></i>
        </div>

        <div class="input-field">
            <input [(ngModel)]="reserva.fecha_salida" type="datetime-local" name="Ffecha_salida"
                placeholder="Fecha de salida" required>
            <i class="uil uil-calendar"></i>
        </div>

        <div class="input-field">
            <input [(ngModel)]="reserva.precio_calculado" type="number" name="Fprecio" placeholder="Precio"
                step="0.01" required>
            <i class="uil uil-dollar-sign"></i>
        </div>

        <div class="input-field">
            <input [(ngModel)]="reserva.cantidad_adultos" type="number" name="Fcantidad_adultos"
                placeholder="Cantidad de adultos" required>
            <i class="uil uil-user"></i>
        </div>

        <div class="input-field">
            <input [(ngModel)]="reserva.cantidad_ninos" type="number" name="Fcantidad_niños"
                placeholder="Cantidad de niños" required>
            <i class="uil uil-child"></i>
        </div>

        <div class="input-field">
            <input [(ngModel)]="reserva.numero_documento" type="text" name="Fdocumento"
                placeholder="Número de documento" required>
            <i class="fa-solid fa-id-card"></i>
        </div>
        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Reservar">
            </div>

            <div class="input-field button">
                <a href="{% url 'admins' %}">Volver</a>
            </div>
        </div>
    </form>
</div>