<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Perseo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div>
  <app-header></app-header>
</div>

<div *ngIf="noRoomsAvailable">
  <h1 class="title">No hay habitaciones disponibles en este momento.</h1>
</div>

<div class="div_habitacion" *ngFor="let room of rooms">
  <div class="card" *ngIf="!noRoomsAvailable">
    <div class="card-header">
      <img src="{{room.foto}}" class="card-img-top" alt="Room Image">
    </div>
    <div class="card-body">
      <div class="contenido">
        <div class="card-body-header">
          <h5 class="card-title">Habitación {{room.tipo}} {{room.NROHABITACION }}</h5>
          <h5 class="card-title2"><i class="fa-solid fa-dollar-sign" style="color: #5eb319;"></i> {{room.precio}}</h5>
        </div>

        <div class="informacion">
          <p class="card-text">{{ room.description }}</p>
          <li class="list-group-item">Descripción: {{ room.descripcion }} </li>
          <li class="list-group-item" style="font-weight:500;">Capacidad</li>
          <li class="list-group-itemi">Adultos: 
            <ng-container *ngIf="room.cap_adultos !== 0; else showZero">
              <ng-container *ngFor="let i of [].constructor(room.cap_adultos)">
                <i class="fa-solid fa-child"></i>
              </ng-container>
            </ng-container>
            <ng-template #showZero>0</ng-template>
          </li>
          <li class="list-group-itemi">Niños: 
            <ng-container *ngIf="room.cap_ninos !== 0; else showZero">
              <ng-container *ngFor="let i of [].constructor(room.cap_ninos)">
                <i class="fa-solid fa-child"></i>
              </ng-container>
            </ng-container>
            <ng-template #showZero>0</ng-template>
          </li>
        </div>
        
      </div>

      <div class="btns">
        <button (click)="redireccionarReservar(room)" type="button" class="btn btn-success">Reservar</button>
      </div>
    </div>
  </div>
</div>

<div>
  <app-footer></app-footer>
</div>