:root{
   --white:#fff;
   --black: #333333;
   --green:#5eb319;
   --green_de:rgb(205, 235, 180);
   --gray: #707070;
   --border:.1rem solid rgba(84, 134, 80, 0.7);
}

*{
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: #5eb319;
   border-radius: 5rem;
}

body{
   background-color: #fff;
}
/* TABLA CSS */
.tabla_content {
   width: 60%;
   margin: auto;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.tabla_content table {
   width: 100%;
   font-size: 15px;
   margin: auto;
}


.tabla_content table thead tr th {
   background-color: #5eb319;
   color: #fff;
}

.tabla_content th,
.tabla_content td {
   text-align: center;
}

.tabla_content .table-light {
   color: #333333;
}

.tabla_content table tbody tr .btns {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 7px;

}

.tabla_content table tbody tr .btns button {
   padding: 4px 7px;
   font-size: 15px;
}


.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  height: 60px;

}

.btns a {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  color: #fff;
  background-color: #5eb319;
  border-radius: 5px;

}
.btns  a:hover{
  color: #fff;
  padding: 5px 15px;
}
