<div>
    <app-header></app-header>
</div>

<div class="signup">
    <span class="title">Actualizar Inventario</span>

    <form [formGroup]="formulario" (ngSubmit)="actualizarInventario()">
        <div class="input-field">
            <input formControlName="NOMBRE_PRODUCTO" type="text" name="producto"
                placeholder="Ingrese Producto" required />
        </div>

        <div class="input-field">
            <input formControlName="DESCRIPCION_PRODUCTO" type="text" name="descripcion"
                placeholder="Ingrese Descripción" required />
        </div>

         <select class="input-select" formControlName="CATEGORIA_IDCATEGORIA" name="categoria" required>
            <option selected="selected" disabled="disabled">Seleccione Categoria</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.IDCATEGORIA">
                {{ categoria.NOMBRE_CATEGORIA }}
            </option>
        </select>

        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Actualizar"/>
            </div>
            <div class="input-field button">
                <a routerLink="/lista-inventario">Volver</a>
            </div>
        </div>
    </form>
</div>

<div>
    <app-footer></app-footer>
</div>
