<div>
  <app-header></app-header>
</div>

<div class="tabla_content" id="table_room">
  <span class="title">Huespedes de la Reserva Nro {{reservationId}} </span>
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th scope="col">Nro Documento</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Telefono</th>
              <th scope="col">Correo</th>
              <th scope="col">Acciones</th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let guest of guestxreservation.slice((paginator.pageIndex * paginator.pageSize), ((paginator.pageIndex + 1) * paginator.pageSize)); let i = index">
              <td class="table-light">{{ guest.NroDocumento }}</td>
              <td class="table-light">{{ guest.Nombre }}</td>
              <td class="table-light">{{ guest.Apellido }}</td>
              <td class="table-light">{{ guest.Telefono }}</td>
              <td class="table-light">{{ guest.Email }}</td>
              <td class="btns">
                  <button (click)="redireccionarActualizar(guest.ID_HUESPED_RESERVA)" type="button" class="btn btn-warning">Actualizar</button>
                  <button (click)="eliminarHuespedxReserva(guest.ID_HUESPED_RESERVA)" type="button" class="btn btn-danger">Eliminar</button>
              </td>
          </tr>
      </tbody>
  </table>
  <mat-paginator [pageSize]="10" [length]="guestxreservation.length" #paginator></mat-paginator>

  <div class="boton">
      <a routerLink="/insertar-huesped-reserva/{{reservationId}}">Crear</a>
      <a routerLink="/lista-reservas">Volver</a>
  </div>
</div>
