<div>
    <app-header></app-header>
</div>

<div class="signup">
    <span class="title">Actualizar Usuario</span>
    <form [formGroup]="formulario" (ngSubmit)="actualizarUsuario()">
        <div class="input-field">
            <input type="text" formControlName="NOMBRE" name="nombre" required>
            <i class="uil uil-user"></i>
        </div>

        <div class="input-field">
            <input type="text" formControlName="APELLIDO" name="apellido" required>
            <i class="uil uil-user"></i>
        </div>

        <select class="input-select" formControlName="TIPO_DOCUMENTO_IDTIPODOCUMENTO" name="id_tipoDocumento" required>
            <option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.IDTIPODOCUMENTO">{{ tipoDocumento.TIPO_DOCUMENTO }}
            </option>
        </select>


        <div class="input-field">
            <input type="text" formControlName="NRODOCUMENTO" name="documento" readonly >
            <i class="fa-solid fa-id-card"></i>
        </div>

        <div class="input-field">
            <input type="text" formControlName="email" name="email" required>
            <i class="uil uil-envelope icon"></i>

        </div>

        <div class="input-field">
            <input type="text" formControlName="TELEFONO" name="telefono" required>
            <i class="fa-sharp fa-solid fa-phone"></i>
        </div>

        <select class="input-select" formControlName="TIPO_PERSONA_IDTIPOPERSONA" name="id_tipoPersona" required>
            <option *ngFor="let tipoUsuario of tiposUsuario" [value]="tipoUsuario.IDTIPOPERSONA">{{ tipoUsuario.TIPO_PERSONA }}</option>
        </select>


        <select class="input-select" formControlName="ESTADO_USUARIO_IDESTADO" name="id_estadoPersona" required>
            <option *ngFor="let estado of estadoUsuario" [value]="estado.IDESTADO">{{ estado.ESTADO }}</option>
        </select>

        <div class="input-field" style="display: none;">
            <input type="password" formControlName="password" name="password" class="password" readonly>
            <i class="uil uil-lock icon"></i>
            <i class="uil uil-eye-slash showHidePw"></i>
        </div>
        


        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Actualizar"/>
            </div>
            <div class="input-field button">
                <a routerLink="/lista-usuarios">Volver</a>
            </div>
        </div>
    </form>


</div>

<div>
    <app-footer></app-footer>
</div>
