<div class="signup">
    <span class="title">Actualizar detalle de factura</span>

    <form (ngSubmit)="actualizarDetalleFactura()">
      <div class="input-field">
        <input [(ngModel)]="detalleFactura.fecha_emision" type="date" name="FfechaEmision" placeholder="Ingrese fecha emision" required />
      </div>

      <div class="input-field">
          <input [(ngModel)]="detalleFactura.total_factura" type="number" name="FtotalFactura" placeholder="Ingrese el total de la factura" required />
        </div>

      <div class="botones">
        <div class="input-field button">
          <input type="submit" value="Actualiar" />
        </div>
        <div class="input-field button">
            <a routerLink="/inicio" >Volver</a>
        </div>
      </div>
    </form>
  </div>
