<div>
    <app-header></app-header>
</div>

<div class="signup">
    <span class="title">Crear detalle de factura</span>

    <form [formGroup]="formulario"  (ngSubmit)="crearNuevoDetalleFactura()">
      
    <select class="input-select" [formControl]="$any(formulario).controls['PRODUCTO_IDPRODUCTO']" name="id_cliente" required>
        <option selected="selected" disabled="disabled"> Seleccione Una Opción </option>
        <option *ngFor="let producto of productos" value="{{producto.IDPRODUCTO}}"> {{producto.NOMBRE_PRODUCTO }} </option>
    </select>

      <div class="input-field">
          <input [formControl]="$any(formulario).controls['CANTIDAD']" type="number" name="FtotalFactura" placeholder="Ingrese Cantidad" required />
        </div>

      <div class="botones">
        <div class="input-field button">
          <input type="submit" value="Añadir" />
        </div>
        <div class="input-field button">
            <a routerLink="/lista-detalles-facturas/{{facturaId}}" >Volver</a>
        </div>
      </div>
    </form>
  </div>

<div>
    <app-footer></app-footer>
</div>