<div>
   <app-home></app-home>
</div>

<div class="tabla_content" id="table_inventory">
    <table class="table table-striped table-hover">
       <thead>
          <tr>
             <th scope="col">ID</th>
             <th scope="col">Producto</th>
             <th scope="col">Descripción</th>
             <th scope="col">Estado</th>
             <th scope="col">Categoria</th>
             <th scope="col">Acciones</th>
          </tr>
       </thead>

       <tbody>
        <tr *ngFor="let inventario of inventarios">
             <th class="table-light" scope="row">{{inventario.id }}</th>
             <td class="table-light">{{ inventario.nombre_producto}}</td>
             <td class="table-light">{{ inventario.descripcion }}</td>
             <td class="table-light">{{ inventario.id_estado }}</td>
             <td class="table-light">{{ inventario.id_categoria }}</td>
             <td class="btns">
                <button (click)="redireccionarActualizar(inventario.id)" type="button" class="btn btn-warning">Actualizar</button>
                <button (click)="eliminarInventario(inventario.id)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
       </tbody>
    </table>
 </div>