<div>
    <app-header></app-header>
</div>

<div class="signup">
    <span class="title">Crear factura</span>

    <form [formGroup]="formulario" (ngSubmit)="crearNuevaFactura()">

        <div class="input-field">
            <input [formControl]="$any(formulario).controls['MONTO_TOTAL_RESERVA']"  type="number" name="total"
                placeholder="Ingrese Monto Total" required />
        </div>

        <select class="input-select" [formControl]="$any(formulario).controls['PERSONA_NRODOCUMENTO']" name="id_cliente" required>
            <option selected="selected" disabled="disabled"> Seleccione Una Opción </option>
            <option *ngFor="let cliente of clientes" value="{{cliente.NRODOCUMENTO}}"> {{cliente.NOMBRE}} </option>
        </select>
        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Crear" />
            </div>
            <div class="input-field button">
                <a routerLink="/lista-facturas">Volver</a>
            </div>
        </div>
    </form>
</div>

<div>
    <app-footer></app-footer>
</div>