<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Perseo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div>
    <app-header></app-header>
</div>

<div class="signup">
    <span class="title">Crear Reserva</span>

    <form [formGroup]="ReservationForm" (ngSubmit)="crearNuevaReserva()">
        <input formControlName="FECHA_RESERVACION" name="fechaReservacion" type="date" placeholder="Fecha de entrada" style="display: none;">

        <p>Fecha de entrada</p>
        <div class="input-field">
            <input formControlName="FECHA_ENTRADA" type="date" name="Ffecha_entrada" placeholder="Fecha de entrada" required [min]="fechaMinimaIn">
            <i class="uil uil-calendar"></i>
        </div>

        <div *ngIf="ReservationForm.get('FECHA_ENTRADA')?.touched && ReservationForm.get('FECHA_ENTRADA')?.errors?.['required']"
            class="error-message">
            El campo es obligatorio.
        </div>

        <p>Fecha de Salida</p>
        <div class="input-field">
            <input formControlName="FECHA_SALIDA" type="date" name="Ffecha_entrada" placeholder="Fecha de salida" required [min]="fechaMinimaOut">
            <i class="uil uil-calendar"></i>
        </div>

        <div *ngIf="ReservationForm.get('FECHA_SALIDA')?.touched && ReservationForm.get('FECHA_SALIDA')?.errors?.['required']"
            class="error-message">
            El campo es obligatorio.
        </div>

        <div class="input-field">
            <input formControlName="CANTIDAD_ADULTOS" type="number" name="Fcantidad_adultos" placeholder="Cantidad de adultos" required>
            <i class="uil uil-user"></i>
        </div>

        <div *ngIf="ReservationForm.get('CANTIDAD_ADULTOS')?.touched && ReservationForm.get('CANTIDAD_ADULTOS')?.errors?.['required']"
            class="error-message">
            El campo es obligatorio.
        </div>

        <div class="input-field">
            <input formControlName="CANTIDAD_NINOS" type="number" name="Fcantidad_niños" placeholder="Cantidad de niños" required>
            <i class="uil uil-child"></i>
        </div>

        <div *ngIf="ReservationForm.get('CANTIDAD_NINOS')?.touched && ReservationForm.get('CANTIDAD_NINOS')?.errors?.['required']"
            class="error-message">
            El campo es obligatorio.
        </div>

        <ng-container *ngIf="isAdmin || isRecepcionista">
            <div class="input-field">
                <input formControlName="PERSONA_NRODOCUMENTO" type="text" name="Fdocumento"
                    placeholder="Número de documento" required>
                <i class="fa-solid fa-id-card"></i>
            </div>

            <div *ngIf="ReservationForm.get('PERSONA_NRODOCUMENTO')?.touched && ReservationForm.get('PERSONA_NRODOCUMENTO')?.errors?.['required']"
                class="error-message">
                El campo es obligatorio.
            </div>
        </ng-container>

        <div class="icons">
            <a  class="link" (click)="toggleOverlay()"> <i class="fa-solid fa-circle-plus icon" style="color:#5eb319;"></i>  Añadir otra habitación </a>
        </div>
    </form>

    <div id="overlay" class="overlay">
        <div class="nuevaHab">
            <div class="overlay-header">
                <span class="title">Añadir otra habitación</span>
                <a (click)="toggleOverlay()"> <i class="fa-solid fa-xmark"></i> </a>
            </div>
            <app-room-reservation-select></app-room-reservation-select>
        </div>
    </div>


        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Reservar">
            </div>

            <div class="input-field button">
                <a routerLink="/lista-reservas">Volver</a>
            </div>
        </div>
</div>
