<div>
    <app-header></app-header>
</div>

<div class="contenido">

    <section class="home" id="home">

        <div class="swiper home-slider">

            <div class="swiper-wrapper">

                <div class="box swiper-slide">
                    <img src="../../assets/Lobby.jpg" alt="">
                </div>

                <div class="box swiper-slide">
                    <img src="../../assets/restaurante.jpg" alt="">
                </div>

                <div class="box swiper-slide">
                    <img src="../../assets/bedroom.jpg" alt="">
                </div>

            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </section>

    <div class="servicios" id="servicios">
        <h1 class="tit">Servicios</h1>
        <p>Descubre los servicios exclusivos que Tequendama Suites Bogotá tiene para ti, pensados para hacer de tu
            estadía
            en Bogotá una experiencia inigualable. Desde habitaciones lujosas y cómodas hasta opciones de
            entretenimiento de
            primer nivel, nuestro hotel está diseñado para que te sientas como en casa, ¡incluso cuando estás lejos de
            ella!

            Disfruta de nuestra ubicación privilegiada en el corazón de la ciudad, a pasos de los principales puntos de
            interés y con un equipo dedicado a hacer que cada momento de tu estadía sea inolvidable.</p>
        <div class="servicio">
            <div class="img">
                <img src="../../assets/restaurante.jpg" alt="" class="imgService">
            </div>
            <div class="descripcion">
                <span>Restaurante</span>
                <p> Aquí, te ofrecemos una experiencia gastronómica que combina sabores deliciosos con un servicio
                    atento en un ambiente acogedor. Nuestro menú presenta una selección de platos cuidadosamente
                    elaborados que seguramente satisfarán tus papilas gustativas. Disfruta de una comida deliciosa y
                    relajante en nuestro encantador restaurante.</p>
            </div>
        </div>
        <div class="servicio2">
            <div class="descripcion">
                <span>Zonas húmedas</span>
                <p>Ofrecemos un completo servicio de mantenimiento y cuidado para tus zonas húmedas, incluyendo
                    piscinas, jacuzzis, saunas, y más. Nuestro equipo profesional se encarga de mantener estos espacios
                    en óptimas condiciones, garantizando un ambiente limpio, seguro y relajante para tu disfrute.</p>
            </div>
            <div class="img">
                <img src="../../assets/zonasHumedas.jpg" alt="" class="imgService">
            </div>
        </div>
        <div class="servicioPlus">
            <span class="titulo">Más servicios</span>
            <div class="seccionServicios">
                <div class="columna">
                    <i class="fa-solid fa-wifi"></i>
                    <span>Wifi gratuito en todo el Hotel</span>
                </div>
                <div class="columna">
                    <i class="fa-solid fa-car"></i>
                    <span>Parqueadero</span>
                </div>
                <div class="columna">
                    <i class="fa-solid fa-tv"></i>
                    <span>TV</span>
                </div>
                <div class="columna">
                    <i class="fa-solid fa-bell-concierge"></i>
                    <span>Servicio de habitaciones</span>
                </div>
                <div class="columna">
                    <i class="fa-solid fa-couch"></i>
                    <span>Sala de estar</span>
                </div>
                <div class="columna">
                    <i class="fa-solid fa-paw"></i>
                    <span>Pet Friendly</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var swiper = new Swiper(".home-slider", {
        loop: true,
        effect: "coverflow",
        spaceBetween: 30,
        grabCursor: true,
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>

<div>
    <app-footer></app-footer>
</div>