@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root {
    --white: #fff;
    --black: #333333;
    --green: #5eb319;
    --gray: #707070;
    --border: .1rem solid rgba(84, 134, 80, 0.7);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: 60%;
    margin: 20px auto;
    text-align: start;
}

.contenido h1 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.contenido p {
    margin: 10px 0px;
}

.contenido span {
    font-style: italic;
    font-weight: bold;
}

.imagen {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}