<div>
    <app-header></app-header>
</div>

<div class="contenido">

    <div class="inicio">
        <h1>Bienvenido al Hotel Perseo</h1>

        <p>Tu destino de excelencia y confort en el corazón de la encantadora Soacha. Nos enorgullecemos de ofrecer una
            experiencia única que combina lujo, hospitalidad excepcional y una ubicación privilegiada en esta vibrante
            ciudad.
        </p>

        <p>Nuestro equipo dedicado está aquí para asegurarse de que tu estancia sea inolvidable. Con un servicio
            personalizado y
            una atención meticulosa a tus necesidades, nos esforzamos por superar tus expectativas en cada momento de tu
            visita.
        </p>

        <p>Además de nuestras comodidades de primer nivel y una cocina exquisita que deleitará tu paladar, el Hotel
            Perseo
            se
            encuentra estratégicamente ubicado cerca de los principales puntos de interés de Soacha, permitiéndote
            explorar
            y
            sumergirte en la riqueza cultural de esta ciudad dinámica.</p>

        <p>En el Hotel Perseo, nuestro compromiso es crear experiencias memorables para cada uno de nuestros huéspedes.
            Te
            invitamos a descubrir el lujo auténtico y la hospitalidad excepcional que nos distingue.</p>

        <p><span>¡Esperamos hacerte sentir como en casa en el Hotel Perseo de Soacha!</span></p>

        <div class="imagen">
            <img src="../../assets/LogoPerseo.png" class="logo">
        </div>

    </div>

    <div class="servicios">
        <h1>Servicios</h1>
        <p>Descubre los servicios exclusivos que Tequendama Suites Bogotá tiene para ti, pensados para hacer de tu
            estadía
            en Bogotá una experiencia inigualable. Desde habitaciones lujosas y cómodas hasta opciones de
            entretenimiento de
            primer nivel, nuestro hotel está diseñado para que te sientas como en casa, ¡incluso cuando estás lejos de
            ella!

            Disfruta de nuestra ubicación privilegiada en el corazón de la ciudad, a pasos de los principales puntos de
            interés y con un equipo dedicado a hacer que cada momento de tu estadía sea inolvidable.</p>
        <div class="servicio">
            <div class="img">
                <img src="../../assets/restaurante.jpg" alt="" class="imgService">
            </div>
            <div class="descripcion">
                <span>Restaurante</span>
                <p> Aquí, te ofrecemos una experiencia gastronómica que combina sabores deliciosos con un servicio
                    atento en un ambiente acogedor. Nuestro menú presenta una selección de platos cuidadosamente
                    elaborados que seguramente satisfarán tus papilas gustativas. Disfruta de una comida deliciosa y
                    relajante en nuestro encantador restaurante.</p>
            </div>
        </div>
        <div class="servicio2">
            <div class="descripcion">
                <span>Zonas húmedas</span>
                <p>Ofrecemos un completo servicio de mantenimiento y cuidado para tus zonas húmedas, incluyendo
                    piscinas, jacuzzis, saunas, y más. Nuestro equipo profesional se encarga de mantener estos espacios
                    en óptimas condiciones, garantizando un ambiente limpio, seguro y relajante para tu disfrute.</p>
            </div>
            <div class="img">
                <img src="../../assets/zonasHumedas.jpg" alt="" class="imgService">
            </div>
        </div>
        <div class="servicioPlus">
            <img src="" alt="">
            <span>Más servicios</span>
            <div class="seccionServicios">
                <i class="uil uil-lock icon"><span>Wifi</span></i>
            </div>
        </div>
    </div>
</div>

<div>
    <app-footer></app-footer>
</div>