<section class="header">
    <div class="flex">
        <a routerLink="/inicio" class="logo">Hotel Perseo</a>
    </div>
    <nav class="navbar">
        <div class="nav-item" id="usuarios">
            <a routerLink="">Usuarios</a>
            <div class="options">
                <a routerLink="/lista-usuarios">Lista usuarios</a>
                <a routerLink="/insertar-usuario">Insertar usuario</a>
            </div>
        </div>
        <div class="nav-item" id="habitaciones">
            <a routerLink="">Habitaciones</a>
            <div class="options">
                <a routerLink="/lista-habitaciones">Lista habitaciones</a>
                <a routerLink="/insertar-habitacion">Insertar habitación</a>
            </div>
        </div>
        <div class="nav-item" id="habitaciones">
            <a routerLink="">Reservas</a>
            <div class="options">
                <a routerLink="/lista-reservas">Lista reservas</a>
                <a routerLink="/insertar-reserva">Insertar reserva</a>
            </div>
        </div>
        <div class="nav-item" id="habitaciones">
            <a routerLink="">Inventario</a>
            <div class="options">
                <a routerLink="/lista-inventario">Lista inventario</a>
                <a routerLink="/insertar-inventario">Insertar producto</a>
            </div>
        </div>
        <div class="nav-item" id="habitaciones">
            <a routerLink="">Huéspedes</a>
            <div class="options">
                <a routerLink="/lista-huespedes">Lista huéspedes</a>
                <a routerLink="/insertar-huesped">Insertar huésped</a>
            </div>
        </div>
        <div class="nav-item" id="habitaciones">
            <a routerLink="">Factura</a>
            <div class="options">
                <a routerLink="/lista-detalles-facturas">Lista detalles de factura</a>
                <a routerLink="/insertar-detalle-factura">Insertar detalles de factura</a>
                <a routerLink="/lista-facturas">Lista facturas</a>
                <a routerLink="/insertar-factura">Insertar factura</a>
            </div>
        </div>
    </nav>
</section>
