:root {
    --white: #fff;
    --black: #333333;
    --green: #5eb319;
    --gray: #707070;
    --border: .1rem solid rgba(84, 134, 80, 0.7);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.contenido {
    padding: 10px 20px;
    width: 60%;
    margin: 20px auto;
    text-align: start;
}


.home .box img{
    border-radius: .5rem;
    height: 60vh;
    width: 100%;
    object-fit: cover;
 }
 
 .swiper-button-prev{
    left: 0%;
 }
 
 .swiper-button-next{
    right: 0;
 }
 
 .swiper-button-next,
 .swiper-button-prev{
    padding: 3rem 2rem;
    background-color: var(--white);
    top: 40%;
    opacity: .7;
 }
 
 .swiper-button-next::after,
 .swiper-button-prev::after{
    color: var(--black);
    font-size: 2rem;
 }
 
 .swiper-button-next:hover,
 .swiper-button-prev:hover{
    opacity: 1;
 }

.contenido .servicios {
    margin-top: 80px;
}

.contenido .servicios .tit {
    text-align: center;
    font-size: 27px;
    margin: 50px;
}

.contenido .servicios p {
    text-align: center;
}


.contenido .servicio {
    display: flex;
    flex-direction: row;
    height: 250px;
    margin: 100px 0px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.contenido .servicio .img {
    width: 40%;
    height: 100%;
}

.contenido .servicio .imgService {
    max-height: 250px;
}

.contenido .servicio .descripcion {
    position: relative;
    width: 60%;
    height: 100%;
}

.contenido .servicio .descripcion span {
    position: absolute;
    font-size: 18px;
    top: 20%;
    left: 45%;
}

.contenido .servicio .descripcion p {
    position: absolute;
    padding: 25px;
    top: 30%;
    font-size: 15px;
    font-style: italic;
}


.contenido .servicio2 {
    display: flex;
    flex-direction: row;
    height: 250px;
    margin: 100px 0px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.contenido .servicio2 .img {
    width: 40%;
    height: 100%;
    background-color: #5eb319;
}

.contenido .servicio2 .imgService {
    width: 100%;
    height: 100%;
}

.contenido .servicio2 .descripcion {
    position: relative;
    width: 60%;
    height: 100%;
}

.contenido .servicio2 .descripcion span {
    position: absolute;
    font-size: 18px;
    top: 20%;
    left: 45%;
}

.contenido .servicio2 .descripcion p {
    position: absolute;
    padding: 25px;
    top: 30%;
    font-size: 15px;
    font-style: italic;
}

.contenido .servicioPlus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    padding: 30px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.contenido .servicioPlus .titulo {
    margin: 10px auto 50px;
    font-size: 18px;
    font-weight: bold;
}

.contenido .servicioPlus .seccionServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.contenido .servicioPlus .seccionServicios .columna {
    width: calc(100% / 3); /* Dividir el espacio en 3 columnas */
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    margin-bottom: 30px; /* Espacio entre cada fila */
}

.contenido .servicioPlus .seccionServicios i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.contenido .servicioPlus .seccionServicios span {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    margin-left: 0px; /* Ajuste del margen izquierdo del texto */
}