<div>
    <app-header></app-header>
</div>

<div class="tabla_content" id="table_invoice_details">
    <span class="title">Detalles de Factura Cod:{{facturaId}} </span>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr
                *ngFor="let df of detallesFacturas.slice((paginator.pageIndex * paginator.pageSize), ((paginator.pageIndex + 1) * paginator.pageSize)); let i = index">
                <th class="table-light" scope="row">{{ df.producto }}</th>
                <th class="table-light" scope="row">{{ df.precio }}</th>
                <td class="table-light">{{ df.CANTIDAD }}</td>
                <td class="btns">
                    <button (click)="redireccionarActualizar(df.IDDETALLESFACTURA)" type="button"
                        class="btn btn-warning">
                        Actualizar
                    </button>
                    <button (click)="eliminarDetalleFatura(df.IDDETALLESFACTURA)" type="button" class="btn btn-danger">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [pageSize]="10" [length]="detallesFacturas.length" #paginator></mat-paginator>

    <div class="boton">
        <a routerLink="/insertar-detalle-factura/{{facturaId}}">Añadir</a>
        <a routerLink="/lista-facturas">Volver</a>
    </div>
</div>