<div>
    <app-header></app-header>
</div>

<div class="signup">
    <span class="title">Registro Huésped</span>

    <form [formGroup]="formulario" (ngSubmit)="crearNuevoHuesped()">
        <div class="input-field">
            <input [formControl]="$any(formulario).controls['NOMBRE']" type="text" name="Fnombre" placeholder="Ingrese nombre del huésped" required />
            <i class="uil uil-user"></i>
        </div>

        <div class="input-field">
            <input [formControl]="$any(formulario).controls['APELLIDO']" type="text" name="Fapellido" placeholder="Ingrese apellido del huésped" required />
            <i class="uil uil-user"></i>
        </div>

        <div class="input-field">
            <input [formControl]="$any(formulario).controls['NRODOCUMENTO']" type="text" name="Fdocumento" placeholder="Ingrese documento del huésped" required />
            <i class="fa-solid fa-id-card"></i>
        </div>

        <div class="input-field">
            <input [formControl]="$any(formulario).controls['EMAIL']" type="text" name="Femail" placeholder="Ingresa email del huésped" required />
            <i class="uil uil-envelope icon"></i>
        </div>

        <div class="input-field">
            <input [formControl]="$any(formulario).controls['TELEFONO']" type="text" name="Ftelefono" placeholder="Ingresa telefono del huésped" required />
            <i class="fa-sharp fa-solid fa-phone"></i>
        </div>

        <div class="botones">
            <div class="input-field button">
                <input type="submit" value="Registrate" />
            </div>
            <div class="input-field button">
                <a routerLink="/lista-huespedes" >Volver</a>
            </div>
        </div>
    </form>
</div>
